@{
    ViewData["Title"] = "Index";
}
<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Assign User Role</h2>
    </div>
@*    <div class="col-6 text-right">
        <a asp-action="Create" class = "btn btn-info">&nbsp;New Role</a>
    </div>*@
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                User Name
            </th>
            <th>
                Role Name
            </th>
        </tr>
        @foreach(var item in ViewBag.UserRoles){
            <tr>
                <td>@item.UserName</td>
                <td>@item.RoleName</td>
@*                <td style="width:150px">
                    <div class="btn-group">
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </div>
                </td>*@
            </tr>
        }
    </table>
</div>
@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
    $('#myTable').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
});
        $(function(){
            var save='@TempData["save"]'
            if(save!=''){
                alertify.success(save);
            }
            else {
            save = '@TempData["delete"]'
                if(save!=''){
                alertify.error(save);
                }

            }
        })
    </script>
}